# Configuración de PayPal
PAYPAL_CLIENT_ID=tu_client_id
PAYPAL_MODE=modo_de_pago (sandbox o live)
PAYPAL_CURRENCY=tu_moneda (MXN, USD, EUR, etc.)

# Configuración de la aplicación
APP_DEBUG=true

# Correos de prueba para realizar la compra
PERSONAL_EMAIL=tu_correo_personal
PERSONAL_PASSWORD=tu_contraseña_personal
